extends layout

block content
  .container
    .jumbotron
      .container
        h1 how may i help you?
          a.btn.btn-primery.btn-lg(href='#') Learn more &raquo;
    .container
      .Dropdown
        .col-md-4
            h2 about us
            p fnmbvkjsdvj dvkjsgvjk hdkfgvhaef ehfgihag
            a.btn.btn-default(href='#') view details
        .col-md-4
                h2 services
                p fnmbvkjsdvj dvkjsgvjk hdkfgvhaef ehfgihag
                a.btn.btn-default(href='#') view details
        .col-md-4
                    h2 get in touch
                    p fnmbvkjsdvj dvkjsgvjk hdkfgvhaef ehfgihag
                    a.btn.btn-default(href='#') view details
